@import "tailwindcss";

html {
  font-size: 75%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: grey;
}

.slider {
  transform-origin: center;
  transition: transform 0.3s;
  position: relative;
}

.slider .initial-hide {
  opacity: 0;
  pointer-events: none;
}

figure {
  transition: opacity 0.5s;
}